html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200px;
}

ul {
  text-align: right;
  list-style-type: none;
  display: inline-block;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.hero__container, .section__container  {
  width: 100%;
  max-width: 65rem;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background: url("https://hd.unsplash.com/photo-1455142449617-67932276fd30") no-repeat center center;
  height: 20vh;
  min-height: 50vh;
  position: relative;
  overflow:auto;
  color: white;
}

.hero h2 {
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
}

.nav-group {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.nav-group a {
  color: inherit;
  text-decoration: none;
}

ul.nav-group {
  display: flex;
  margin: 1rem -0.5rem;
  list-style-type: none;
}

.nav-group__item {
  margin: 0 0.5rem;
  opacity: 0.6;
  display: inline;
}

.nav-group__item:hover {
  opacity: 1;
}

.btn_comments {
  display: inline-block;
  background: #a2a2a2;
  line-height: 1em;
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}

.btn_read {
  display: inline-block;
  background: #9d9d9;
  line-height: 1em;
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}

.btn_share {
  display: inline-block;
  background: #03389e;
  line-height: 1em;
  padding: .5em;
  color: inherit;
  text-decoration: none;
}

.left_side {
  text-align: left;
  width: 50%;
  padding-left: 2em;
  margin: 1rem;
}

.right_side {
  width: 50%;
  margin: 1rem;

}

.main {
 max-width: 65rem;
 display: flex;
}
.sidebar {
  overflow: auto;
  display: inline-block;
  width: 50%;
}

.sidebar_author {
  float: right;
  text-align: center;
  padding-right: 7em;
  padding-top: 1em;
}

.post__author-photo {
  height: 50%;
  border-radius: 50%;
  position: relative;
}

.advertisement {
  border: 1em solid green;
  text-align: center;
}

.ad_photo {
  width: 5rem;
  height: 5rem;
}

.section {
  background: #fafafa;
  padding: 2rem 1rem;
  color: #333;
  text-align: left;
}

.sidebar_social--ad {
  text-align: center;
}

.fancy-text--big {
  font-size: 3rem;
  text-align: center;
}

.fancy-text--medium {
  font-size: 1.6rem;
  display: inline-block;;
}

.section__header {
  text-align: center;
  font-size: 1.6rem;
  color: #0c145e;

}

.section__header__blog {
  text-align: left;
  font-size: 1.6rem;
  color: #0c145e;
}
.section_header__sidebar {
  text-align: center;
  font-size: 1.6rem;
  color: #0c145e;
  border: 1em solid pink;
}

.polaroid {
  position: absolute;
  top: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.polaroid-parent {
  position: relative;
  width: calc(100% / 4);
}

.polaroid-parent::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.moarblogposts {
   display: flex;
   flex-direction: row;
   width: 100%;
}

footer {
  background: #000746;
  color: white;
  display: flex;
}

.ironyardlogo {
  padding: .5em;
  display:flex;
}
